@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: rgb(75, 75, 75);
}

.main-content{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin: 0 auto;
}

.opciones{
    height: 100px;
    width: 100%;
    nav{
        display: flex;
        justify-content: center;
        height: 100%;
        a{
            background-color:#ff6600;
            color: black;
            height: 100%;
            padding: 30px 40px;
            display: block;
            text-decoration: none;
            font-size: 1.5em;
            transition: 0.4s;
            width: 25%;
            text-align: center;
        }
        a:hover{
            filter: invert(1);
        }
    }
}

.contenedor{
    height: 624px;
    width: 100%;
}

.intro{
    padding: 70px 40px 80px 40px;
    height: 100%;
    width: 100%;
    display: flex;

    h1{
        align-self: center;
        width: 80%;
    }

    a{
        display: block;
        font-size: 1.5em;
        background-color: rgb(12, 12, 114);
        color: white;
        outline: gray;
        height: 75px;
        align-self: center;
        line-height: 75px;
        width: 20%;
        text-align: center;
        border-radius: 25%;
        transition: 0.5s;
        text-decoration: none;
    }

    a:hover{
        filter: invert(1);
    }
}

.game{
    padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
}

.gromp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hands, .legromp{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        height: 90%;
        width: 350px;
        cursor: pointer;
    }
}

.footer{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.363);
    line-height: 50px;
    padding-left: 30px;
}
