@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: rgb(75, 75, 75);
}

.main-content{
    width: 70%;
    height: 600px;
    background-color: whitesmoke;
    margin: 0 auto;
}

.opciones{
    height: 100px;
    width: 100%;
    nav{
        display: flex;
        justify-content: center;
        height: 100%;
        a{
            background-color:#ff6600;
            color: white;
            height: 100%;
            padding: 30px 40px;
            display: block;
            text-decoration: none;
            font-size: 1.5em;
            transition: 0.4s;
            width: 25%;
            text-align: center;
        }
        a:hover{
            filter: invert(1);
        }
    }
}

.contenedor{
    height: 500px;
    width: 100%;
}

.intro{
    padding: 70px 40px 80px 40px;
    height: 100%;
    width: 100%;
    display: flex;

    h1{
        align-self: center;
        width: 80%;
    }

    a{
        display: block;
        font-size: 1.5em;
        background-color: rgb(12, 12, 114);
        color: white;
        outline: gray;
        height: 75px;
        align-self: center;
        line-height: 75px;
        width: 20%;
        text-align: center;
        border-radius: 25%;
        transition: 0.5s;
        text-decoration: none;
    }

    a:hover{
        filter: invert(1);
    }
}