@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #4b4b4b;
}

.main-content {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  margin: 0 auto;
}

.opciones {
  height: 100px;
  width: 100%;
}

.opciones nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.opciones nav a {
  background-color: #ff6600;
  color: black;
  height: 100%;
  padding: 30px 40px;
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 25%;
  text-align: center;
}

.opciones nav a:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.contenedor {
  height: 624px;
  width: 100%;
}

.intro {
  padding: 70px 40px 80px 40px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
}

.intro a {
  display: block;
  font-size: 1.5em;
  background-color: #0c0c72;
  color: white;
  outline: gray;
  height: 75px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 75px;
  width: 20%;
  text-align: center;
  border-radius: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.intro a:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.game {
  padding: 30px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.gromp {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hands, .legromp {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hands img, .legromp img {
  height: 90%;
  width: 350px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lemove img {
  position: relative;
  top: 180px;
}

.lepet img {
  height: 80%;
}

.footer {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.363);
  line-height: 50px;
  padding-left: 30px;
}
/*# sourceMappingURL=style.css.map */